body {
  text-align: center;
  border: 3px solid black;
  min-height: 95vh;
  height: auto;
  background-color: antiquewhite;
}

.card {
  border: 1px solid black;
  width: 300px;
}

.data-container {
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
}

div {
  margin: 20px;
}

.h1 {
  justify-content: center;
  border: 2px solid rgb(60, 49, 49);
}

.earthquake-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: rgb(162, 151, 137)
}

/* .locaion-container {

} */

/* .magnitude-container {

} */

#min {
  width: 40px;
}

#max {
  width: 40px;
}

/* .type-container {

} */

footer {
  margin: 2px;
  text-align: right;
}

@media only screen and (min-device-width: 1200px) {
  .data-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}

@media only screen and (max-width: 600px) {
  .earthquake-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  }
}