body {
  text-align: center;
  border: 3px solid black;
  min-height: 95vh;
  height: auto;
  background-color: rgb(102, 99, 94);
}

.card {
  border: 1px solid black;
  width: 300px;
  height: 328px;
  background-color: rgb(200, 168, 129);
} 

.data-container {
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  min-height: 69vh;
}

div {
  margin: 20px;
}

.h1 {
  justify-content: center;
  background-color: rgb(11, 181, 237);
  border: 2px solid rgb(31, 27, 27);
}

.earthquake-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: rgb(223, 138, 34)
}

#min {
  width: 40px;
}

#max {
  width: 40px;
}

footer {
  margin: 2px;
  text-align: right;
}

@media only screen and (min-device-width: 1200px) {
  .data-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}

@media only screen and (max-width: 600px) {
  .earthquake-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  }
}